# Created by .ignore support plugin (hsz.mobi)
.idea
*/solution/
!/Session 1 NoSQL-Datenbanken/solution/
!/Session 2 Interactive Data Visualization for the Web/solution/
!/Session 3 Web based authorization with OAuth 2.0/solution/
/*/*/node_modules/
!/Session 4 Serverless Architectures and Progressive Web Apps/solution/
